common --@rules_zig//zig/settings:bootstrapped=False
common --@rules_zig//zig/settings:zigopt=-fllvm
common --@rules_zig//zig/settings:host_mode=release_safe
common --@rules_zig//zig/settings:use_cc_common_link=True
common --repo_env=RULES_ZIG_CACHE_PREFIX=/tmp/cuda-zig-matmul-zig-cache
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env
build --incompatible_use_cc_configure_from_rules_cc
build --compiler=clang
build --copt=-w
build --host_copt=-w
build --cxxopt=-std=gnu++17
build --host_cxxopt=-std=gnu++17
build --platforms=@llvm//platforms:linux_x86_64_gnu.2.28
build --host_platform=@llvm//platforms:linux_x86_64_gnu.2.28
build --sandbox_add_mount_pair=/tmp/cuda-zig-matmul-zig-cache
build --sandbox_writable_path=/tmp/cuda-zig-matmul-zig-cache
